<template>
  <nav><a>Dc Heros</a></nav>
</template>

<script>
export default {};
</script>

<style scoped>
nav {
  background-image: linear-gradient(to right, #1a40af, #2563eb);
  color: white;
  width: 100%;
  padding: 0.5rem 1rem;
}
</style>