<template>
  <div id="hero">
    <h1>Dc Heroes {{ herosCount }}</h1>

    <ul>
      <li v-for="(hero, index) in dcHeros" :key="index">
        {{ hero.name }}
        <button v-on:click="removeHero(index)">x</button>
      </li>
    </ul>
    <form @submit.prevent="addHero">
      <input v-model="newHero" placeholder="Nom du Hero" />
      <button id="add" type="submit">Add Hero</button>
    </form>
  </div>
</template>

<script>
export default {
  computed: {
    herosCount() {
      return this.dcHeros.length;
    },
  },
  data() {
    return {
      newHero: "",
      dcHeros: [
        { name: "SuperGirl" },
        { name: "Flash" },
        { name: "Batman" },
        { name: "Arrow" },
        { name: "SuperMan" },
      ],
    };
  },
  methods: {
    addHero() {
      if (this.newHero !== "") {
        this.dcHeros.unshift({ name: this.newHero });
        this.newHero = "";
      }
    },
    removeHero(index) {
      this.dcHeros = this.dcHeros.filter((hero, i) => i != index);
    },
  },
};
</script>

<style scoped>
#hero {
  margin: 0 auto;
}
h1 {
  font-style: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
li {
  display: flex;
  justify-content: space-between;
}
form {
  margin-top: 2.5em;
}
input,
#add {
  border-radius: 0.25rem;
  border-width: 1px;
}
#add {
  background-image: linear-gradient(to right, #b91c1c, #ec4899);
  color: white;
  font-style: 0.875rem;
  line-height: 1.25rem;
}
</style>