<template>
  <AppHeader />
  <div id="container">
    <DcHeros />
  </div>
</template>

<script>
import DcHeros from "./components/DcHeros.vue";
import AppHeader from "./components/AppHeader.vue";

export default {
  name: "App",
  components: {
    DcHeros,
    AppHeader,
  },
};
</script>

<style scoped>
#container {
  display: flex;
  width: 100%;
}
</style>
